<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="UI Test Suite">
  <test thread-count="5" name="Functional Tests">
    <classes>
      <class name="ui.LoginTest"/>
      <class name="ui.VerifyTitleAndTextTestSoftAssert"/>
      <class name="ui.VerifyTitleTest"/>
      <class name="ui.GroupTestExample"/>
      <class name="ui.VerifyTitleAndTextTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
